[options]
; --- base ---
admin_passwd = ${ODOO_ADMIN_PASSWORD}
db_name = ${PGDATABASE}
db_host = ${PGHOST}
db_port = ${PGPORT}
db_user = ${PGUSER}
db_password = ${PGPASSWORD}
db_sslmode = require

; Filtrado de DB (útil si compartes servidor)
dbfilter = ${ODOO_DB_FILTER}

; --- red / proxy ---
proxy_mode = ${ODOO_PROXY_MODE}
limit_time_cpu = ${ODOO_LIMIT_TIME_CPU}
limit_time_real = ${ODOO_LIMIT_TIME_REAL}

; --- recursos ---
workers = ${ODOO_WORKERS}
limit_memory_soft = ${ODOO_LIMIT_MEMORY_SOFT}
limit_memory_hard = ${ODOO_LIMIT_MEMORY_HARD}

; --- rutas ---
data_dir = /var/lib/odoo
logfile = /var/log/odoo/odoo.log
log_level = ${ODOO_LOG_LEVEL}

; --- http ---
http_interface = 0.0.0.0
http_port = 8069

; --- addons ---
addons_path = /usr/lib/python3/dist-packages/odoo/addons
