[options]
; --- base ---
admin_passwd = ${ADMIN_PASSWD}

; Conexión a Postgres (Neon)
db_name = ${PGDATABASE}
db_host = ${PGHOST}
db_port = ${PGPORT}
db_user = ${PGUSER}
db_password = ${PGPASSWORD}
db_sslmode = require

; Filtrado de DB (vacío si no hace falta)
dbfilter =

; --- tras proxy ---
proxy_mode = True

; --- rutas/log ---
data_dir = /var/lib/odoo
logfile = /var/log/odoo/odoo.log
log_level = info

; --- red/http ---
http_interface = 0.0.0.0
http_port = ${PORT}

; --- addons ---
addons_path = /usr/lib/python3/dist-packages/odoo/addons
server_wide_modules = web